.cartContainer{
    min-height: 70rem;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cartContainer .contentItem{
    display: flex;
    border: 1px solid red;
    height: fit-content;
    padding: 2rem;
    width: 50rem;
    justify-content: space-between;
}

.cartContainer .contentItem .itemImage img{
    height: 10rem;
    width: 15rem;
}

.cartContainer .contentItem .itemDetails{
    position: relative;
    right: 6rem;
}

.cartContainer .contentItem .itemQty{
    display: flex;
    border: 1px solid green;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    position: relative;
    top: 2.5rem;
}