.cartContainer{
    min-height: 70rem;
    /* border: 2px solid black; */
    padding: 2rem;
    display: flex;
    gap: 10rem;
}

.cartContainer .cartContent{
display: flex;
flex-direction: column;
gap: 2rem;
min-width: 50rem
}

.cartContainer .cartContent .contentItem{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    /* border: 1px solid red; */
    height: fit-content;
    width: 50rem;
    padding: 2rem;

}

.cartContainer .cartContent .contentItem .itemImage img{
    height: 10rem;
    width: 15rem;
}

.cartContainer .cartContent .itemDetails{
    position: relative;
    right: 2rem;
}

.cartContainer .cartContent .itemQty{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    position: relative;
    top: 2.5rem;
}

.cartContainer .totalPriceContent{
    /* border: 1px solid green; */
    min-height: 20rem;
    max-height: fit-content;
    max-width:  30rem;
    min-width: 30rem;
    padding: 1rem;
    /* position: fixed;
    right: 4rem; */
}

.cartContainer .totalPriceContent .displayItems{
    /* border: 1px solid blue; */
}

.cartContainer .totalPriceContent .displayItems .heading{
    margin: 0rem;
}

.cartContainer .totalPriceContent .displayItems .heading span{
    font-size: 12px;
}

.cartContainer .totalPriceContent .displayItems .displayItemsCollapase div .collapseItems{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between
    /* padding: 0rem 3rem; */
}

.cartContainer .totalPriceContent .displayItems .displayItemsCollapase div .collapseItems span, .cartContainer .totalPriceContent .displayItems .displayItemsCollapase div .collapseItems p{
    font-size: 12px;
}

.cartContainer .totalPriceContent .displayItems .displayItemsCollapase div .collapseItems span{
    position: relative;
    left: 0.9rem;
}

.cartContainer .totalPriceContent .displayItems .displayItemsCollapase div .collapseItems p{
    position: relative;
    right: 6rem;
}

.cartContainer .totalPriceContent  .totalPrice{
    /* border: 1px solid blue; */
    padding: 0rem 1rem;
    font-size: 13px;
    font-weight: bold;
}

.cartContainer .totalPriceContent  .totalPrice .pricevalue{
    position: relative;
    left: 19rem;   
}

.cartContainer .totalPriceContent .checkoutContent{
    width: 30rem;
    margin-top: 2rem;
}

.cartContainer .totalPriceContent .checkoutContent a{
    width: 94%;
    background-color: orange;
}