.catData .catFilters{
    min-width: 22.5vw;
    min-height: 70vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.catData .catImages{
    max-width: 77.5%;
    min-width: 77.5%;
    padding: 2rem;
    /* border: 1px solid black; */
    
}

.catData .catFilters .fliters p,
.catData .catFilters .fliters .checkbox{
    margin-bottom: 1rem;
}

.catData .catFilters .fliters{
    position: relative;
}

.catData .catImages .images a{
    text-decoration: none;
}

.catData .catImages .images a .card{
    height: 350px;
     width: 25rem;
     /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.catData .catImages .images a .card .cargImage{
    object-fit: cover;
    object-position: top;
}

.catData .catImages .images a .card .cardContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
