.checkoutContainer{
    min-height: 70rem;
    /* border: 2px solid black; */
    padding: 3rem 2rem;
}

.checkoutContainer .leftSideContent .addressContainer{
    /* border: 2px solid red; */
    max-width: 50rem;
    min-width: 50rem;
}

.checkoutContainer .leftSideContent .addressContainer .card{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.checkoutContainer .leftSideContent .addressContainer .newAddressContent{
    /* border: 2px solid blue; */
    min-height: 20rem;
    min-width: 40rem
}

.checkoutContainer .leftSideContent .newAddressContent{
    /* border: 2px solid green; */
    margin-top: 1rem;
    width: 50rem;
    padding: 2rem;
}

.checkoutContainer .leftSideContent .newAddressContent .inputData{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

.checkoutContainer .leftSideContent .newAddressContent .inputData input{
    width: 20rem;
    padding: 1rem 1.2rem;
}

.checkoutContainer .leftSideContent .newAddressContent input[name='mobileNumber']{
    height: 3.5rem;
}

.checkoutContainer .leftSideContent .newAddressContent .inputAddress .addressBox{
    width: 50rem;
} 

.checkoutContainer .leftSideContent .newAddressContent .nameContent{
    margin-top: 0;
}

.checkoutContainer .leftSideContent .newAddressContent .nameContent input[name='firstName']{
    width: 19.5rem;
}

.checkoutContainer .leftSideContent .newAddressContent .nameContent input[name='mobilenumber'],.checkoutContainer .leftSideContent .newAddressContent .pincode input[name='pincode']{
    width: 22rem;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: none;
}

.checkoutContainer .leftSideContent .newAddressContent .nameContent input[name='mobilenumber']:focus,.checkoutContainer .leftSideContent .newAddressContent .pincode input[name='pincode']:focus{
    border: 1px solid blue;
}

.checkoutContainer .leftSideContent .newAddressContent .saveBtn{
    margin-top: 1rem;
}

.checkoutContainer .leftSideContent .newAddressContent .saveBtn button{
    width: 7rem;
    padding: 0.5rem;
}


.checkoutContainer .leftSideContent .addressDisplay .radioGroup{
    /* border: 2px solid green; */
    width: 50rem;
    margin: 1rem 0rem;
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkoutContainer .leftSideContent .addressDisplay .radioGroup .card{
    /* border: 1px solid red; */
    padding: 1rem;
}

.checkoutContainer .leftSideContent .addressDisplay .radioGroup .card label .MuiButtonBase-root{
    position: relative;
    bottom: 35px;
}

.checkoutContainer .leftSideContent .addressDisplay .radioGroup .card label .MuiTypography-root .cardContent{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.checkoutContainer .leftSideContent .addressDisplay .radioGroup .card label .MuiTypography-root .cardContent .userName{
    position: relative;
    bottom: 10px;
    font-weight: bold;
}

.checkoutContainer .leftSideContent .addressDisplay .radioGroup .card label .MuiTypography-root .cardContent .userPhoneNumber{
    font-weight: 550;
}