.chooseContent{
    min-height: 60vh;
    margin: 5rem 0rem;
}

.chooseContent .heading{
    text-align: center;
    padding: 1rem 0rem;
}

.chooseContent .heading h3{
    padding: 1rem 0rem;
}

.chooseContent .heading p{
    font-size: 1rem;
    width: 45rem;
    margin: 0 auto;
    font-weight: 540;
}

.chooseContent .content{
    margin: 0 auto;
    padding: 2rem 4rem;
}

.chooseContent .content .contentBox{
    min-height: 32vh;
    min-width: 12.5vw;
}

.chooseContent .content .contentBox .card{
    height: 100%;
    width: 90%;
    padding: 0.5rem 0rem;
}

.chooseContent .content .contentBox .card .cardContent svg{
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
}

.chooseContent .content .contentBox .card .cardContent .heart{
    color: #FF1493;
}

.chooseContent .content .contentBox .card .cardContent .shiled{
    color: #1E90FF;
}

.chooseContent .content .contentBox .card .cardContent .shipping{
    color: #32CD32;
}

.chooseContent .content .contentBox .card .cardContent .user{
    color: #FFC300;
}

.chooseContent .content .contentBox .card .cardContent .bulid{
    color: #663399;
}


.chooseContent .content .contentBox .card .cardContent .pet{
    color: #FF5733;
}

.chooseContent .content .contentBox .card .cardContent p{
    font-size: 0.9rem;
    margin-top: 1rem;
}