.dogData{
    display: flex;
    flex-direction: column;
}

.dogData .dogFilters{
    /* min-width: 15vw; */
    max-width: 20vw;
    min-height: 100vh;
    max-height: fit-content;
    padding: 2rem;
}

.dogData .dogFilters .breedName p{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.dogData .dogImages{
    max-width: 80vw;
    min-width: 80vw;
    padding: 2rem;
    /* border: 2px solid black; */
    display: flex;
    row-gap: 2rem;
    /* position: relative;
    left: 20rem; */
}

.dogData .dogImages a{
    text-decoration: none;
}

.dogData .dogImages .images .card{
    width: 22rem;
}

.dogData .dogImages .images .card .cardImage{
    object-fit: cover;
    object-position: top;
}

.dogData .dogImages .images .card .cardContent{
    display: flex;
    justify-content: space-between;
}


/* line no 81 rowSpacing={5} columnSpacing={4} */