.navigation{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: orange;
    width: 100%;
}

.navigation .websiteName a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
    position: relative;
    left: 8rem;
}

.navigation .websiteName a:hover{
    color: white;
}

.navigation .iconsContent{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    gap: 30px;
}

.navigation .iconsContent .icon{
    height: 32px;
    width: 32px;
    color: white;
}

.navigation .iconsContent .icon a svg{
    color: rgba(255, 255, 255, 0.619);
}

.navigation .iconsContent .singin a svg{
    height: 17px;
    width: 17px;
    position: relative;
    left: -5px;
}

.navigation .iconsContent .profile a svg{
    height: 30px;
    width: 2rem;
}

.navigation .iconsContent .btn a{
    font-size: 23px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.619);
}

.navigation .iconsContent .links a:hover, .navigation .iconsContent .links a svg:hover{
    color: white;
}

.navigation .profileOptions{
    position: absolute;
    right: 2.5rem;
    top: 4rem;
    z-index: 3;
    width: 6rem;
    background-color: rgba(255, 166, 0, 0.778);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0rem;
    display: none;
}

.navigation .profileOptions .option{
    padding-bottom: 0.5rem;
}

.navigation .iconsContent .profileOptions .option a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.navigation .iconsContent .profileOptions .option button{
    font-size: 0.95rem;
    color: black;
}

.navigation .iconsContent .profileOptions .option a:hover,.navigation .iconsContent .profileOptions .option button:hover{
    color: white;
}

.navigation .iconsContent .profile:hover .profileOptions{
    display: block;
}
