.navigation{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    background-color: orange;
}

.navigation .websiteName a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
    position: relative;
    left: 8rem;
}

.navigation .websiteName a:hover{
    color: white;
}

.navigation .iconsContent{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    gap: 30px;
}

.navigation .iconsContent .icon{
    height: 32px;
    width: 32px;
    color: white;
}

.navigation .iconsContent .icon a svg{
    color: rgba(255, 255, 255, 0.619);
}

.navigation .iconsContent .singin a svg{
    height: 17px;
    width: 17px;
    position: relative;
    left: -5px;
}

.navigation .iconsContent .btn a{
    font-size: 18px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.619);
}

.navigation .iconsContent .links a:hover, .navigation .iconsContent .links a svg:hover{
    color: white;
}