.signinForm{
    min-height: 80vh;
}

.signinForm .signinContent{
    margin: 0 auto;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}

.signinForm .signinContent .inputData{
    margin: 1.5rem 0rem;
}

.signinForm .signinContent .loginSignup{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}