.signupForm .card{
    min-height: 70vh;
    margin: 3rem auto;
    min-width: 30vw;
    max-width: 30vw;
    text-align: center;
    padding: 1rem;
}

.signupForm .signupContent .content{
    margin: 1rem 0rem;
}

.signupForm .signupContent .userName{
    display: flex;
    gap: 2rem;
}

.signupForm .signupContent .gender{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
}

.signupForm .signupContent .dob {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.signupForm .signupContent .dob .dobOptions .dobField{
    max-width: 70px;
    margin: 0 0.5rem;
    padding: 0.5rem;
}

.signupForm .signupContent .mobile .mobileNumber #phoneNumber{
    padding: 0.5rem;
    width: 13.8rem;
}

.signupForm .signupContent .otpVerify{
    display: flex;
    gap: 8.5rem;
}

.signupForm .signupContent .mobile,
.signupForm .signupContent .mail {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4rem;
}

.signupForm .signupContent .mobile .verfication,
.signupForm .signupContent .mail .verfication{
position: relative;
    left: 2.5rem;
}

.signupForm .signupContent .snackbar{
    bottom: 17rem;
    right: 25rem;
    height: fit-content;
    width: fit-content;
}